**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/.git
**/.github
**/*.db
**/*.nupkg
**/*.snupkg
**/logs
**/CodeCoverage
**/TestResults
.vscode/
.git/
docs/
postman/
README.md
LICENSE
docker-compose.yml
Dockerfile
.dockerignore
